
header {
    margin: 5px;
    margin-bottom: 30px;
    text-align: center;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.cell {
    border: solid 1px;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.box-grid {
    width: 750px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.color {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.settings {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.color-btn {
    margin: 15px auto;
    width: 75px;
    color: white;
}