
:root {
    --primary-color: #7245b5;
    --secondary-color: #202020;
  }
  
  body {
    background-color: black;
  }
  
  header {
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 64px;
    color: var(--primary-color);
    cursor: pointer;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 125px;
  }
  
  /* Settings Panel */
  
  .settings-panel {
    background-color: var(--secondary-color);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
  }
  
  .color-container {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  
  input[type="color"] {
    border: 3px solid var(--primary-color);
    width: 60px;
    height: 40px;
    background-color: none;
    padding: 0;
    cursor: pointer;
  }
  
  .size-slider-container {
    gap: 15px;
    width: 200px;
    text-align: center;
  }
  
  .size-slider-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  #sizeSlider {
    width: 200px;
    background: var(--primary-color);
    cursor: pointer;
  }
  
  .toggle-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  button {
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px;
    width: 200px;
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
  }
  
  /* Since clear button has no toggle, 
  only change its appearance while its being clicked */
  #clear-btn:active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  
  /* Grid Section */
  
  .grid-container {
    background-color: var(--secondary-color);
    width: 650px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  
  .cell {
    flex-grow: 1;
  }
  
  /* Footer */
  
  footer {
    margin-top: 50px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
  }
  