


body {
    background-color: black;
}

header {
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 64px;
    color: #7245b5;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 125px;
}

.settings-panel {
    background-color: #202020;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    color: #7245b5;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}

.color-container {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    align-items: center;
    gap: 10px;
}



input[type="color"] {
    border: 3px solid #7245b5;
    width: 60px;
    height: 40px;
    background-color: none;
    padding: 0;
  }
  

.size-slider-container {
    gap: 15px;
    width: 200px;
    text-align: center;
}

#sizeSlider {
    width: 200px;
    background: #7245b5;
}

/* #sizeSlider::-webkit-slider-runnable-track {
    background-color: #7245b5;
} */





.cell {
    border: "1px solid black";
    flex-grow: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.grid-container {
    background-color: #202020;
    width: 650px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-color: white;
    border: "1px solid black";
}



#size-btn {
    width: 75px;
}

button {
    border: 1px solid #7245b5;
    background-color: #202020;
    padding: 10px;
    width: 200px;
    font-size: 14px;
    font-weight: 400;
    color: #7245b5;
}

#clear-btn:active {
    background-color: #7245b5;
    color: #202020;
  }